@charset "UTF-8";

body {
	/*display: block;*/
    background-color:#000000;
    color:lightgray;
    text-shadow: 2px 2px #282828;
    font-family: Arial;
}

a{
	text-decoration:none;
    text-shadow: 2px 2px #282828;
}

a:link{
	color:rgb(44, 201, 83);
}

a:visited{
	color:rgb(41, 163, 71);
}

a:hover{
	color:#FFF;
}

a:active{
	color:#EEE;
}

#nav{
    /*width:100%;*/
    /*margin: 0 auto;*/
    /*align-items: center;*/
    /*align-items: stretch;*/
    /*text-align: center;*/
    margin-left: 10%;
    margin-right: 10%;

}

#nav li {
    display: inline;
    font-size: 125%;
}

#nav li a {
    text-align:center;
    display:inline-block;
    width: 16%;
    background-color:#383838;
    border-radius: 12px;
    font-style:italic;
    color: white;
}

#nav li a:hover{
    background-color:#7e7e7e;
}

/*.content{
    width:50%;
    margin:0 auto;
	position: relative;
    height: 400px;
    text-align:right;
}*/

.video{
    position: absolute;
	
	opacity: .2;
	
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	
	z-index: -100;
}

.logo{
    display: block;
    margin: 0 auto;
}

/*.content{
    margin-top: 200px;
}*/

.background{
    position: fixed;

    top: 100px;

    opacity: .25;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    /*align-self: stretch;*/
	
    z-index: -100;
    
text-align: center;

    /*transform: translate3d(0px, 4.37564%, 0px);*/
}

.info{
    z-index: -50;

    /*background-color:rgba(19, 7, 46, 0.79);*/
    width:100%;
    
    /*transform: translate3d(0px, 4.37564%, 0px);*/

    text-align: center;
    /*text-align:justify;*/
}

.info h2{
    padding-top: 32px;
    text-align:center;
}

.banner{
    width: 100%;
    color: white;
    text-align: center;
    height: 200px;
    background-color: transparent; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(47, 47, 47), transparent); /* Standard syntax (must be last) */
}

.banner h1{
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 16px;
    padding-right: 2px;
    font-size: 125%;
    font-style:italic;
    text-shadow: 3px 3px #797979;
}

.banner p{
    text-align: center;
    color:#18db0f;
    font-family:Verdana;
    margin-top: 2px;
    /*font-style:italic;*/
}

 .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.section{
    margin-bottom: 64px;
    margin-left: 20%;
    margin-right: 20%;
    border-color: gray;
    border-style: solid;
    border-radius: 16px;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgb(51, 51, 51)); /* Standard syntax (must be last) */
}

.section_sub{
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-color: gray;
    border-style: solid;
    border-radius: 16px;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgb(51, 51, 51)); /* Standard syntax (must be last) */
}

.section_title{
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 120%;
    font-style: italic;
    background-color: transparent; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(95, 95, 95), rgba(0, 0, 0, 0)); /* Standard syntax (must be last) */
}

.section_text{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 16px;
    font-size: 100%;
    font-style: normal;
    font-family: Arial;
}

.section_logo{
    width: 50%;
}

/*
.footer{
}
*/
.bottom_info{
    width:90%;
    margin:0 auto;
	color:#ABC;
	text-align: right;
    padding-right:5%;
    
	text-shadow: 2px 2px black;
	font-style:italic;
    background-color:#252525;
    border-radius: 12px;

}

.center{
    text-align: center;
}
